<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TargetSites</key>
	<array>
		<string>ITJS</string>
	</array>
	<key>Keys</key>
	<array>
		<dict>
			<key>Name</key>
			<string>scrt</string>
			<key>ExportVersion</key>
			<array>
				<string>1.0</string>
				<string>2.0</string>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>lcrt</string>
			<key>ExportVersion</key>
			<array>
				<string>1.0</string>
				<string>2.0</string>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>fCfg</string>
			<key>ExportVersion</key>
			<array>
				<string>1.0</string>
				<string>2.0</string>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>bbcl</string>
			<key>ExportVersion</key>
			<array>
				<string>1.0</string>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>ShMC</string>
			<key>ExportVersion</key>
			<array>
				<string>1.0</string>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>rMCl</string>
			<key>ExportVersion</key>
			<array>
				<string>1.0</string>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>rMC2</string>
			<key>ExportVersion</key>
			<array>
				<string>3.0</string>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>rcrt</string>
			<key>ExportVersion</key>
			<array>
				<string>1.0</string>
				<string>2.0</string>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>mcrt</string>
			<key>ExportVersion</key>
			<array>
				<string>1.0</string>
				<string>2.0</string>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>sePk</string>
			<key>ExportVersion</key>
			<array>
				<string>1.0</string>
				<string>2.0</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
