<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Keys</key>
	<dict>
		<key>scrt</key>
		<dict>
			<key>1.0</key>
			<dict>
				<key>identifier</key>
				<array>
					<string>ChipID</string>
					<string>ECID</string>
				</array>
			</dict>
			<key>2.0</key>
			<dict>
				<key>identifier</key>
				<array>
					<string>ChipID</string>
					<string>ECID</string>
					<string>SIK</string>
				</array>
			</dict>
		</dict>
		<key>lcrt</key>
		<dict>
			<key>1.0</key>
			<dict>
				<key>identifier</key>
				<array>
					<string>LynxSN</string>
				</array>
			</dict>
			<key>2.0</key>
			<dict>
				<key>identifier</key>
				<array>
					<string>LynxSN</string>
					<string>SIK</string>
				</array>
			</dict>
		</dict>
		<key>fCfg</key>
		<dict>
			<key>1.0</key>
			<dict>
				<key>identifier</key>
				<array>
					<string>ChipID</string>
					<string>ECID</string>
				</array>
			</dict>
			<key>2.0</key>
			<dict>
				<key>identifier</key>
				<array>
					<string>ChipID</string>
					<string>ECID</string>
					<string>SIK</string>
				</array>
			</dict>
		</dict>
		<key>bbcl</key>
		<dict>
			<key>1.0</key>
			<dict>
				<key>identifier</key>
				<array>
					<string>bbChipID</string>
					<string>bbsum</string>
				</array>
			</dict>
		</dict>
		<key>bbpc</key>
		<dict>
			<key>1.0</key>
			<dict>
				<key>identifier</key>
				<array>
					<string>bbChipID</string>
					<string>bbsum</string>
				</array>
			</dict>
		</dict>
		<key>ShMC</key>
		<dict>
			<key>1.0</key>
			<dict>
				<key>identifier</key>
				<array>
					<string>HWROM</string>
					<string>DieID</string>
				</array>
			</dict>
		</dict>
		<key>rMCl</key>
		<dict>
			<key>1.0</key>
			<dict>
				<key>identifier</key>
				<array>
					<string>ArrowChipID</string>
					<string>ArrowUniqueChipID</string>
				</array>
			</dict>
		</dict>
		<key>rMC2</key>
		<dict>
			<key>3.0</key>
			<dict>
				<key>identifier</key>
				<array>
					<string>ArrowChipID</string>
					<string>ArrowUniqueChipID</string>
				</array>
			</dict>
		</dict>
		<key>rcrt</key>
		<dict>
			<key>1.0</key>
			<dict>
				<key>identifier</key>
				<array>
					<string>ArrowChipID</string>
					<string>ArrowUniqueChipID</string>
				</array>
			</dict>
			<key>2.0</key>
			<dict>
				<key>identifier</key>
				<array>
					<string>ArrowChipID</string>
					<string>ArrowUniqueChipID</string>
					<string>SIK</string>
				</array>
			</dict>
		</dict>
		<key>mcrt</key>
		<dict>
			<key>1.0</key>
			<dict>
				<key>identifier</key>
				<array>
					<string>MogulIDSN</string>
				</array>
			</dict>
			<key>2.0</key>
			<dict>
				<key>identifier</key>
				<array>
					<string>MogulIDSN</string>
					<string>SIK</string>
				</array>
			</dict>
		</dict>
		<key>sePk</key>
		<dict>
			<key>1.0</key>
			<dict>
				<key>identifier</key>
				<array>
					<string>SEID</string>
				</array>
			</dict>
			<key>2.0</key>
			<dict>
				<key>identifier</key>
				<array>
					<string>SEID</string>
					<string>SIK</string>
				</array>
			</dict>
		</dict>
		<key>GPKs</key>
		<dict>
			<key>1.0</key>
			<dict>
				<key>identifier</key>
				<array>
					<string>ArrowChipID</string>
					<string>ArrowUniqueChipID</string>
				</array>
			</dict>
			<key>2.0</key>
			<dict>
				<key>identifier</key>
				<array>
					<string>ArrowChipID</string>
					<string>ArrowUniqueChipID</string>
					<string>SIK</string>
				</array>
			</dict>
		</dict>
		<key>SBCl</key>
		<dict>
			<key>3.0</key>
			<dict>
				<key>identifier</key>
				<dict>
					<key>type</key>
					<string>string</string>
				</dict>
				<key>Data</key>
				<array>
					<dict>
						<key>key</key>
						<string>OpBN</string>
						<key>type</key>
						<string>data</string>
						<key>data</key>
						<string>VBST_LVL_byte</string>
					</dict>
				</array>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
